/* Global settings ⬇️*/
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
scroll-behavior: smooth;
}

body{
font-family: Poppins;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
input{
    border: none;
}
:root{
--transition:.3s;
--main-color:#1674b7;
--alt-main-color:#0d5d96;
--second-color:#f4f6fa;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin: 60px auto;
    text-align: center;
    color: var(--main-color);
}
.top{
    transition: var(--transition);
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
    color: var(--main-color);
    font-size: 38px;
    bottom: 30px;
    opacity: 1;
}
.hide{
right: -30px;
opacity: 0;
}
/* Global settings ⬆️*/
/* Container Media ⬇️*/
.container{
    width: 100%;
    margin-right:auto ;
    margin-left:auto ;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
}
/* sm */
@media (min-width: 640px){
    .container{
        max-width: 640px;
    }
}
/* md */
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
}
/* lg */
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}
/* xl */
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}
/* 2xl */
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}

    /* Container Media ⬆️ */
    /* top-info ⬇️ */
    .top-info .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid #eee;

    }
    .top-info .phone-email {
    display: flex;
    align-items: center;
    }
    .top-info .phone-email span{
     display: flex;
    align-items: center;
   margin-right: 20px;
    }
    .top-info .phone-email span i{
    margin-right: 10px;
    }
    .top-info .phone-email span p{
    color: gray;
    }
    .top-info .media-lang{
    display: flex;
    align-items: center;
    width: 162px;
    justify-content: space-between;
    }
    .top-info .media-lang .media a{
    margin-right: 20px;
    color: black;
    }
    .top-info .media-lang select{
    border: none;
    }
    /* top-info ⬆️ */
    /* header ⬇️ */
    .header{
    padding-top: 15px;
    }
    .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .header .img-box{
    width: 40px;
    overflow: hidden;
    cursor: pointer;
    }
    .header .img-box img{
    width: 100%;
    border-radius: 50%;
    }
    .header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .header ul li{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    color: gray;
    position: relative;
    }
    .header ul li:hover{
    color: var(--main-color);
    }
    .header ul li::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: var(--main-color);
    width: 0;
    height: 3px;
    }
    .header ul li:hover::before{
    width: 80%;
    color: #6395ff;
    transition: .3s;
    border-radius: 10px;
    }
    .header .get-btn{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    }
    .header .get-btn:hover{
    background-color:var(--alt-main-color) ;
    transition: var(--transition);
    }
    @media (max-width: 768px){
   .header .container{
   flex-direction: column;
   }

   .header ul{
   flex-direction: column;
   margin-top: 20px;
   }
   .header ul li {
    background-color: var(--second-color);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
   }
    .header ul li:hover::before{
    width: 95%;
    }
    .top-info .phone-email{
    flex-direction: column;
    align-items: start;
    }
    .top-info .phone-email span:first-child{
    margin-bottom: 10px;
    }
}
    /* header ⬆️ */
    /* Land ⬇️ */
    .land{
        background-image: url(../img/landing.jpg);
        background-size: cover;
        width: 100%;
        height: calc(100vh - 89.39px);
        margin-top: 20px;
    }
    .layout{
        width: 100%;
        height: 100%;
        background-color: #0320355e;
        padding-top: 160px;
    }
    .land h3{
        width: fit-content;
        background-color: var(--main-color);
        padding: 10px 20px;
        color: white;
    }
    .land h1{
        font-size: 40px;
        color: white;
    }
    .land p{
        max-width: 468px;
        font-size: 21px;
        font-weight: bold;
        color: #d1d1d1;
    }
    .back-btn{
        width: fit-content;
        background-color: var(--main-color);
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
        color: white;
    }
    /* Land ⬆️ */
    /* Sections ⬇️ */
    .sections ul{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
    @media (max-width: 1024px){
    .sections ul{
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}
    .sections ul li{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px 30px;
       background-color: var(--second-color);
       height: 142px;
    }
    .sections ul li{
        border: 10px solid #eee;
    }
    .sections ul li i{
        background-color: var(--main-color);
        padding: 10px;
        border-radius: 50%;
        color: white;
        margin-right: 30px;
        font-size: 25px;
    }
    /* Sections ⬆️ */
    /* Our-Services ⬇️ */
    .our-service h1{
        margin: 0 0 50px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
    }
    .our-service .holder{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
    }
    .our-service .holder .box{
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--second-color);
    box-shadow: 0px 0px 13px #00000030;
    }
    .our-service .holder .box:hover .img-box img{
        transform: scale(1.1) rotate(3deg);
        transition: var(--transition);
        cursor: pointer;
    }
    .our-service .holder .box .img-box{
    width: 100%;
    overflow: hidden;
    }
    .our-service .holder .box .img-box img{
    width: 100%;
    }
    .our-service .box h3{
    text-align: center;
    margin: 20px 0;
    }
    .our-service .box p{
    text-align: center;
    color: gray;
    margin-bottom: 20px;
    }
    .our-service .box p span{
    color: var(--main-color);
    font-weight: 800;
    transition: var(--transition);
    }
    .our-service .box p span:hover{
        color: var(--alt-main-color);
        cursor: pointer;
    }
    .book-me-btn{
        width: fit-content;
        background-color: var(--main-color);
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 65px auto 20px;
        cursor: pointer;
    }
    .book-me-btn:hover{
        background-color: var(--alt-main-color);
        transition: var(--transition);
    }
    /* Our-Services ⬆️ */
    /* offers ⬇️ */
    .offers{
     background-color: var(--second-color);
     padding-top: 60px;
     padding-bottom: 60px;
    }
    .offers h1{ 
        margin: 0 0 50px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
     }
    .offers .holder{
        display: flex;
        justify-content: space-between;
    }
    @media (max-width: 1024px){
        .offers .holder{
        flex-direction: column;
    }
    .offers .holder .box{
        margin: 20px auto 20px;
        min-width: 450px;
    }
}
    .offers .holder .box{
        background-color: var(--second-color);
        width: 30%;
        text-align: center;
        border: 4px solid #eee;
        padding: 10px;
        box-shadow: 0px 0px 6px #0000005c;

    }
    .offers .holder .box:hover{
        box-shadow: 0px 0px 6px #00000098;
        transform: translateY(-10px);
        transition: var(--transition);
    }
    .offers .holder .box h1{
        color: var(--main-color);
        padding-bottom: 20px;
        border-bottom: 2px solid #ddd;
        margin: 20px px auto 38px;
    }
    .offers .holder .box ul{
        margin-bottom:36px;
    }
    .offers .holder .box ul li{
        margin-bottom: 20px;
        color: gray;
        font-weight: 600;
    }
    /* offers ⬆️ */
    /* conntact ⬇️ */
    .contact{
    padding: 60px 0;
    }
    .contact .container{
    display: flex;
    flex-direction: column;
    }
    .contact h3{
        margin: 0 0 50px;
        font-size: 36px;
        font-weight: bold;
    }
    .contact form{
    width: fit-content;
    padding: 20px;
    margin: 10px;
    }
    .contact form,.contact .form{
   display: flex;
   flex-direction: column;
    }

    @media (max-width: 768px){
      .contact form,.contact .form{
      flex-direction: column;
      }
}

    .contact form label{
        margin-bottom: 10px;
    }
    .contact form input{
    margin-bottom: 30px;
    background-color: var(--second-color);
    border-radius: 6px;
    padding: 10px;
    width: 400px;
    height: 60px;
    }
    .contact form select{
    border: none;
    background-color: var(--second-color);
    padding: 10px 20px;
    border-radius: 5px;
    }
    .contact form textarea{
    width: 400px;
    border: none;
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
    }    
    /* conntact ⬆️ */
    /* Footer ⬇️ */
    footer{
    background-color: #252429;
    }
    footer .container{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    border-bottom:1px solid #414141 ;
    }
     @media (max-width: 1024px){
    footer .container{
    flex-direction: column;
    align-items: center;
    }
    footer .box{
    text-align: center;
    margin-bottom: 30px;
    }
   footer .box-1 .img-box{
   margin: 0 auto 10px;
   }
    }
    footer .box{
    font-size: 12px;
    width: fit-content;
    }
    footer .box-1{
    margin-right: 50px;
    }     
    footer .box-1 .img-box{
    width: 80px;
    margin-bottom: 10px;
        }
    footer .box-1 .img-box img{
    width: 100%;
    }
     footer .box-1 p{
    width: 410px;
    line-height: 1.5;
    color: #c3c3c3;
     }
    footer .box-1 p span{
    color: var(--main-color);
    }
     footer .box-2{
    margin-right: 50px;
     }
    footer .box-2 h3{
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    }
    footer .box-2 .location{
    width: 410px;
    color: #c3c3c3;
    margin-bottom: 20px;
    }
    footer .box-2 .location i{
    margin-right: 10px;
    color: var(--main-color);
    }
    footer .box-2 .phone{
    width: 410px;
    color: #c3c3c3;
        margin-bottom: 20px;

    }
    footer .box-2 .phone span{
    color: var(--main-color);
    }
    footer .box-2 .email{
    width: 410px;
    line-height: 1.5;
    color: #c3c3c3;
    }
    footer .box-2 .email span{
    color: var(--main-color);
    }
    footer .box-3 h3{
    margin-bottom: 10px;
  color: white;
    font-weight: bold;
    width: fit-content;
    }
    footer .box-3 p{
    line-height: 1.5;
    color: #c3c3c3;
    margin-bottom: 20px;
    }
    footer .copyright{
    color: #c3c3c3;
    margin: 10px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #6b6b6b;
    text-align: center;
    }
    footer .copyright span{
    color: var(--main-color);
    }
    /* Footer ⬆️ */